@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family:'Raleway',sans-serif ;
}
.wrapper{
    width: 100%;
}
.navbar{
    width: 100%;
    height: 100vh;
    background-position: center;
    background: url(images/dark_tint.png),url(images/bokeh_car_lights_bg.jpg);
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}
header{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    align-self: flex-start;
}
header h1{
    position:absolute;
    font-size: 1.5em;
    margin-left: 30px;
    top: 30px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    float: left;
}
header nav.menu ul{
    position:absolute ;
    float: right;
    right:20px;
    top: 0;
}
.menu ul li {
    display: block; 
    padding: 30px;
    float: left;

}
.menu ul li a{
   font-size: 18px;
   text-decoration: none;
   color: #dbd8d8;
   font-weight: 100;
}
.menu ul li a:hover{
    color: white;
    transition: color 0.2s ease-in-out;
}
h2.altbaslik{
    color: white;
    font-size:3em ;
    margin-bottom: 20px;
}
.navbar .yazi p{
    font-size: 1.5em;
    color: white;
    line-height: 1.5em;
    margin-bottom: 50px;
}
.buttons a{
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding: 14px  40px;
    background: #3cadd4;
    border-radius: 30px;
}
a:hover{
    background-color:rebeccapurple ;
    transition: background-color 0.2s ease-in-out;
}
section.bolum1{
    width: 100%;
    padding: 100px 0;
    background: #f5f5f5;
    text-align: center;
    margin-bottom: 0.5em;

}
.bolum1 h2{
    color:#474747;
    font-size: 3em;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 0.5em;
}
.bolum1 h2+p{
    color: #858585;
    font-size: 1.3em;
    margin-bottom: 0.5em;


}
.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
.bolum1 .kutu{
    flex-basis:300px;
    flex-shrink:0;
    flex-grow: 1;
    background: #fff;
    text-align: center;
    padding: 20px 0;
    margin-right: 20px ;
    align-self: flex-start;
}
.bolum1 .kutu:nth-last-child(1){
    margin-right: 0;
}
.bolum1 .kutu i{
    font-size: 2em;
    border-radius: 50%;
    padding: 40px;
    color: white;
}
.bolum1 .kutu i.birinci{
    background: #6fcdec;
}
.bolum1 .kutu i.ikinci{
    background: #f788bf;
}
.bolum1 .kutu i.ucuncu{
    background: #8bf0c6;
}
.bolum1 .kutu h3{
    margin:20px 0;
    color:#858585;
    font-size: 1.3em;
    font-weight: 700;
}
.bolum1 .kutu p{
color: #615e5e;
font-size: 1em;
font-weight: 300;
padding: 0 30px 20px 30px;
line-height: 1.5em;
}
section.bolum2{
    width: 100%;
    background:#fff ;
    border-top: 1px solid #d1d1d1;
    box-sizing: border-box;
    text-align: center;
    padding-top:80px ;
    display: block;
}
.bolum2 h2{
    font-size: 2.5em;
    margin-bottom:20px ;
    color: #474747;
    font-weight: 900;
}
.bolum2 h2+p{
    font-size: 1.3em;
    margin-bottom: 80px;
    color: #858585;

}
.bolum2 .kisiler{
    width: 100%;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
.bolum2 .kisi{
    flex-basis: 220px;
    margin: 50px 10px;
    text-align: left;
    flex-grow:1 ;
}
.kisi img{
    float:left;
    width: 100px;                                                                
    border-radius: 50%;
    margin: 5px 10px;
}
.kisi h4{
    margin-top:20px ;
    font-size: 1.1em;
    margin-bottom: 5px;
}
.kisi p{
    font-size: 0.9em;
    margin-bottom: 5px;
}
.bolum2 article{
    margin: 50px auto;
    width: 70%;
}
article p{
    font-size:1em ;
    line-height: 1.6em;
    color: #444;
}
.bolum2 ul li a{
background: #3cadd4;
border-radius: 30px;
border: 0;
cursor: pointer;
display:inline-block ;
font-weight: 400;
padding: 1em 2em ;
text-align: center;
margin-top: 30px;
text-decoration: none;
color: #fff;
}
.bolum2 ul li a:hover{
    background: #003066;
    transition: background-color 0.2s ease-in-out;
}
section.bolum3{
    width: 100%;
    display: block;
    height: 100vh;
    background:#3cadd4;
    background-size: cover;
    padding: 70px 0 10px;
    text-align: center;
}
.bolum3 h2{
    font-size: 3em;
    color:#fff ;
    margin-bottom: 20px;

}
.bolum3 h2+p{
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 2px;
}
.bolum3 .container .form{
    width: 600px;
    margin: 70px auto;
}
.bolum3 .container .form input[type=text]{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 3px ;
    padding: 3px 10px;
    color: #444;
    font-size: 1em;
}
.form input[type=email]{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 3px ;
    padding: 3px 10px;
    color: #444;
    font-size: 1em;
}
.form textarea{
    width: 430px;
    margin-top: 20px;
    height: 150px;
    border-radius: 5px;
    padding: 3px 10px;
    color: #fff;
    font-size: 1em;
}
.form input[type=submit]{
    font-size: 1.1em;
    margin-top: 70px;
    border-radius: 20px;
    padding: 15px 50px;
    border:none;
    cursor: pointer;
    color: #fff;
    background: #383b43
}
.form input[type=submit]:hover{
    background: #4c4c4c;
    transition: background-color 0.2s ease-in-out;
}
footer{
    width: 100%;
    background: #383b43;
    padding: 30px 0;
}
footer .container{
    margin-top: 50px;
    border-bottom: 1px solid #979797;
}
footer .footerkutu{
    margin-left: 20px;
    width: 200px;
    
}
footer .footerkutu:nth-child(1){
    padding: 20px;
    
}
footer h3{
    color: #fff;
    font-size: 1.1em;
    margin: 20px;
}
footer .container ul{
display: block;
width: 100%;
float:left ;
margin-bottom: 30px;
list-style: none;
}
footer .footerkutu ul li a{
    background: none;
    list-style: none;
}
footer.container ul a{
    color: #cdced0;
    text-decoration: none;
    font-size: 0.9em;
    line-height: 2.5em;
   
}
footer .container ul a:hover{
    text-decoration: underline;
}
.sosyal{
    max-width: 1000px;
    margin: 0 auto;
}
footer .lisans{
width: 100%;
margin: 20px auto;
}
footer .lisans p{
    color: #b1abab;
    float:left;
    margin-top:15px;
    display:inline-block;
}
footer .icon {
float: right;
}
footer .icon i{
text-align: center;
width: 30px;
height: 30px;
padding: 10px;
border-radius: 50%;
font-size: 1.5em;
cursor: pointer;
color: #fff;
}
.sosyal .icon i .facebook{
    background:#39599f ;
}
.sosyal .icon i .twitter{
    background:#2daae4 ;
}
.sosyal .icon i .linkedin{
    background:#31416a ;
}
@media screen and (max-width:980px){
    .navbar{
        height:60vh ;
    }
    h2.altbaslik{
        font-size: 2em;
    }
    .navbar .yazi p{
        font-size: 1em;
    }
    .buttons a{
        font-size: 0.8em;
        padding: 10px 25px;    
        border-radius: 15px;
    }
    .bolum1 .kutu{
        flex-basis: 100%;
    }
    .bolum2 .kisi{
        flex-basis: 40%;
    }
    footer .footerkutu{
        flex-basis: 40%;
        margin:10px 20px
    }
}
@media screen and (max-width:600px){
    .bolum .kisi{
        flex-basis: 100%;
        text-align: center;
    }
    .kisi img{
        text-align: center;
        float: none;
    }
    footer .footerkutu{
        flex-basis: 100%;
        margin: 10px 20px;
        text-align: center;
    }
    footer .icon{
        clear: both;
        float: none;
    }
    footer .lisans p{
        float:none ;
        margin: 20px auto;
    }
    .sosyal{
        text-align: center;
    }
    footer .icon i{
        margin-top: 20px;
    }
    .bolum3 .container .form{
        width: 100%;
        margin:70px auto;
    }
    .bolum3 .container .form input[type=text]{
        width: 80%;
        margin-bottom: 5px;
    }
    .form input[type=email]{
        width: 80%;
        margin-bottom: 5px;
    }
    .form textarea{
        width: 80%;
        height: 150px;
    }
    .form input[type=submit]{
        font-size: 1.1em;
        padding: 150px;
    }
}
